.content{float: left;}
#star1, #star2, #star3, #star4, #star5{width: 20px; height: 20px; margin: 10px; float: right; text-align: center; cursor: pointer; background: url('images/stargray.png'); background-repeat: no-repeat;}
#star1:hover{background: url('images/staryellow.png');}
#star2:hover, #star2:hover ~ #star1{background: url('images/staryellow.png');}
#star3:hover, #star3:hover ~ #star1, #star3:hover ~ #star2{background: url('images/staryellow.png');}
#star4:hover, #star4:hover ~ #star1, #star4:hover ~ #star2, #star4:hover ~ #star3{background: url('images/staryellow.png');}
#star5:hover, #star5:hover ~ #star1, #star5:hover ~ #star2, #star5:hover ~ #star3, #star5:hover ~ #star4{background: url('images/staryellow.png');}